<h1>This stupid coach is still asking the same questions. Infinite loops abound.</h1>

<div class="grey-border-left">
  <h3 class="margin-left"><%= @question %></h3>
  <h3 class="italic margin-left">- You</h3>

</div>

<div class="grey-border-left background-yellow">
  <h3 class="bold margin-left"><%= @answer %></h2>
  <h3 class="italic margin-left"> - Stupid Coach</h3>
</div>


<%= link_to "Back to the pointless questions", ask_path %>
